        <!-- serial number-->
        <div class="form-group">
          <label for="serial">Asset Serial Number</label>
          <input
            type="text"
            class="form-control"
            id="serial"
            name="serial"
            placeholder="Asset Serial Number"
            required
          />
        </div>
  
        <!-- asset type -->
        <div class="form-group">
          <label for="assetType">Asset Type</label>
          <input
            type="text"
            class="form-control"
            id="assetType"
            name="assetType"
            placeholder="Asset Type"
            required
          />
        </div>
  
        <!-- make -->
        <div class="form-group">
          <label for="make">Asset Make</label>
          <input
            type="text"
            class="form-control"
            id="make"
            name="make"
            placeholder="Asset Make"
            required
          />
        </div>
  
        <!-- model-->
        <div class="form-group">
          <label for="model">Asset Model</label>
          <input
            type="text"
            class="form-control"
            id="model"
            name="model"
            placeholder="Asset Model"
            required
          />
        </div>
  
        <!-- RAM-->
        <div class="form-group">
          <label for="ram">Asset RAM</label>
          <input
            type="text"
            class="form-control"
            id="ram"
            name="ram"
            placeholder="Enter Asset RAM"
            required
          />
        </div>
  
        <!-- hard drive type -->
        <div class="form-group">
          <label for="hardDriveType">Asset Hard Drive Type</label>
          <input
            type="text"
            class="form-control"
            id="hardDriveType"
            name="hardDriveType"
            placeholder="Select Asset Hard Drive Type"
            required
          />
        </div>
  
        <!-- hard drive size -->
        <div class="form-group">
          <label for="hardDriveSize">Asset Hard Drive Size</label>
          <input
            type="text"
            class="form-control"
            id="hardDriveSize"
            name="hardDriveSize"
            placeholder="Enter Asset Hard Drive Size"
            required
          />
        </div>
  
        <!-- location -->
        <div class="form-group">
          <label for="location">Asset Location</label>
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
            placeholder="Enter Asset Location"
            required
          />
        </div>