<!-- Connect to MetaMask and Contract -->
<div class="text-center bg-info clearfix" id="connectArea">
  <p id="userArea">Status: Not connected to Metamask</p>
  <p id="contractArea">Status: Not connected to Contract</p>
  <button onclick="connectMetamask()">CONNECT TO METAMASK</button>
</div>
<p></p>