      <div id="getDetailsArea" class="form-group">
        <label for="serialGet">Asset Serial Number</label>
        <input
          type="text"
          class="form-control"
          id="serialGet"
          name="serialGet"
          placeholder="Enter Asset Serial Number"
          required
        />
      </div>