<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web3 IT Asset Management</title>
</head>
<body>
  <!-- include header partials -->
  <%- include('partials/header') %>

  <h1>Welcome to the Web3 IT Asset Management Home Page</h1>
  <p>Content</p>

  <!-- include header partials -->
  <%- include('partials/footer') %>
</body>
</html>