<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Web3 IT Asset Management Register Asset</title>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
    ></script>
  </head>

  <body style="background-color: burlywood">
    <!-- include header partials -->
    <%- include('partials/header') %>

    <h1>Welcome to the Web3 IT Asset Management Register Page</h1>

    <!-- Register Asset -->
    <div class="container">
      <h2>Register Asset</h2>
      
      <!-- Asset Form partials -->
      <%- include('partials/assetForm') %>
  
      <button onclick="registerAsset()" type="submit" class="btn btn-primary">
        Register Asset
      </button>
    </div>

    <p class="container" id="statusArea">Status: status will display here</p>

    <!-- include footer partials -->
    <%- include('partials/footer') %>

		<!-- Contract Script -->
		<script src="assetContract.js"></script>
		
		<!-- Functions Script -->
    <script>
      //Register Asset Function
      const registerAsset = async () => {
        const serial = document.getElementById("serial").value;
        console.log(serial);
        const assetType = document.getElementById("assetType").value;
        const make = document.getElementById("make").value;
        const model = document.getElementById("model").value;
        const RAM = document.getElementById("ram").value;
        const hardDriveType = document.getElementById("hardDriveType").value;
        const hardDriveSize = document.getElementById("hardDriveSize").value;
        const location = document.getElementById("location").value;
        console.log(
          serial,
          assetType,
          make,
          model,
          RAM,
          hardDriveType,
          hardDriveSize,
          location
        );
        try {
          const result = await window.contract.methods
            .registerAsset(
              serial,
              assetType,
              make,
              model,
              RAM,
              hardDriveType,
              hardDriveSize,
              location
            )
            .send({ from: account });
          document.getElementById(
            "statusArea"
          ).innerHTML = `Status: Asset ${serial} registered`;
        } catch (err) {
          document.getElementById(
            "statusArea"
          ).innerHTML = `Asset not registered`;
        }
      };
    </script>
  </body>
</html>