<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SmartAssetIT Reports</title>
    <!-- style sheet from https://codepen.io/asfarmed/pen/zYQYMy -->
    <link rel="stylesheet" href="./style2.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"
    ></script>
  </head>

  <body>
    <!-- include header partials -->
    <%- include('partials/header') %>

    <h1 class="text-center">
      SmartAssetIT Reports
    </h1>

    <!-- Display Asset Details-->
    <div class="container">
      <br />
      <!-- include connectMetaMask partials -->
      <%- include('partials/connectMetaMask') %>
      <!-- Get Owner Details -->
      <div id="getOwnerArea" class="form-group">
        <label for="serialGetOwner"
          >Enter Asset Serial Number below to get Asset Details</label
        >
        <input
          type="text"
          class="form-control"
          id="serialGetOwner"
          name="serialGetOwner"
          placeholder="Enter Asset Serial Number"
          required
        />
      </div>
      
      <p></p>
      <button
        onclick="getOwner()"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#assetDetailsModal"
      >
        Get Asset Details
      </button>
    </div>

    <!-- Display Maintenance Details-->
    <div class="container">
      <br />
      <!-- Get Serial Number -->
      <div id="getMaintenanceArea" class="form-group">
        <label for="serialGetOwner"
          >Enter Asset Serial Number to view maintenance performed</label
        >
        <input
          type="text"
          class="form-control"
          id="serialGetMaintenance"
          name="serialGetMainenance"
          placeholder="Enter Asset Serial Number"
          required
        />
      </div>

      <p></p>
      <button
        onclick="getMaintenance()"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#assetMaintenanceModal"
      >
        Get Asset Maintenance
      </button>
    </div>

    <!-- Modal Asset Details -->
    <div
      class="modal fade"
      id="assetDetailsModal"
      tabindex="-1"
      aria-labelledby="assetDetailsModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="assetDetailsModal">Asset Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- Modal Table -->
          <div class="modal-body">
            <p id="ownerArea">Owner will display here</p>
            <div id="detailsArea" style="display: none">
              <table
                class="table table-striped table-hover color: background-color: $indigo-900"
              >
                <tbody>
                  <tr>
                    <td>Asset Type</td>
                    <td id="getAssetType"></td>
                  </tr>
                  <tr>
                    <td>Make</td>
                    <td id="getMake"></td>
                  </tr>
                  <tr>
                    <td>Model</td>
                    <td id="getModel"></td>
                  </tr>
                  <tr>
                    <td>RAM</td>
                    <td id="getRam"></td>
                  </tr>
                  <tr>
                    <td>Hard Drive Type</td>
                    <td id="getHarddriveType"></td>
                  </tr>
                  <tr>
                    <td>Hard Drive Size</td>
                    <td id="getHardDriveSize"></td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td id="getLocation"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Asset Maintenance -->
    <div
      class="modal fade"
      id="assetMaintenanceModal"
      tabindex="-1"
      aria-labelledby="assetMaintenanceModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="assetMaintenanceModal">
              Asset Maintenace Performed
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <!-- Modal Table -->
          <div class="modal-body">
            <p id="maintenanceArea">Maintenance will display here</p>
            <div id="maintenanceArea" style="display: none">
              <table
                class="table table-striped table-hover color: background-color: $indigo-900"
              >
                <tbody>
                  <tr>
                    <td>Maintenance Performed/td></td>
                    <td id="getAssetMaintenance"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- include footer partials -->
    <%- include('partials/footer') %>
    
    <!-- Contract Script -->
		<script src="assetContract.js"></script>

		<!-- Functions Script -->
    <script>
      //Get owner and details function
      const getOwner = async () => {
        const serial = document.getElementById("serialGetOwner").value;
        console.log(serial);
        try {
          const result = await window.contract.methods
            .getAssetDetails(serial)
            .call();
          console.log(result);
          document.getElementById("detailsArea").style.display = "block";
          document.getElementById(
            "ownerArea"
          ).innerHTML = `Owner: ${result[8]}`;
          document.getElementById("getAssetType").innerHTML = `${result[1]}`;
          document.getElementById("getMake").innerHTML = `${result[2]}`;
          document.getElementById("getModel").innerHTML = `${result[3]}`;
          document.getElementById("getRam").innerHTML = `${result[4]}`;
          document.getElementById(
            "getHarddriveType"
          ).innerHTML = `${result[5]}`;
          document.getElementById(
            "getHardDriveSize"
          ).innerHTML = `${result[6]}`;
          document.getElementById("getLocation").innerHTML = `${result[7]}`;
        } catch (err) {
          document.getElementById(
            "ownerArea"
          ).innerHTML = `Asset not registered`;
          document.getElementById("detailsArea").style.display = "none";
        }
      };

      //Get asset maintenance performed
      const getMaintenance = async () => {
        const serial = document.getElementById("serialGetMaintenance").value;
        console.log(serial);
        try {
          const result = await window.contract.methods
            .getMaintenance(serial)
            .call();
          console.log(result);
          document.getElementById("maintenanceArea").innerHTML = `${result}`;
        } catch (err) {
          console.log(err);
          document.getElementById(
            "maintenanceArea"
          ).innerHTML = `Asset not found`;
        }
      };
    </script>
  </body>
</html>
